:root {
	--background-color: #CFE0C3;
	--text-color: #1F363D;
	--navbar: #9EC1A3;
	--border: #90AF94;
	/*Accent colors*/
	--blue: #70A9A1;
	--blue-hover: #669A92;
	--blue-active: #5D8C85;
	--green: #40798C;
	--green-hover: #70A9A1;
	--header-color: #356473;
	--link-color: #4E3D42;
	--link-hover: #47373C;
	--link-active: #413237;
	--chat-color1: #383368;
	--chat-color2: #174C3C;
	/*Dark mode vars*/
	--dark-mode-bg: #1F363D;
	--dark-mode-txt-color: #CFE0C3; /*light mode background color  #8361A1*/
	--dark-mode-nav-color: #192D32;
	--dark-mode-header: #4B96AF;
	--dm-border: #17292D;
	--dm-link: #7A6E71;
	--dm-link-hover: #6D5F63;
	--dm-link-active: #5E4F53;
	--dm-h3: #46595F;
	--dm-form-bg: #77917B;
	--dm-form-shadow: #6C8470;
	--dm-blue: #5D8C85;
	--dm-blue-border: #557F79;
	--dm-blue-shadow: #4D736E;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

/*lightmode colors*/
.lightmode {
	background-color: var(--background-color);
	color: var(--text-color) !important;
}

.headerLightMode {
	color: var(--header-color);
}

.h3LightMode {
	color: var(--text-color);
}

.navbarLightMode {
	background-color: var(--navbar);
}

.border-bottom {
	border-bottom: 1px solid var(--border) !important;
}

.linkLightMode{
	color: var(--link-color);
}

	.linkLightMode:hover {
		color: var(--link-hover);
	}

	.linkLightMode:active {
		color: var(--link-active);
	}

.formLightmode {
	background-color: var(--navbar);
	border: solid 1px #90AF94;
	box-shadow: 5px 5px #839F87;
}

.profileLightmode {
	background-color: var(--blue);
	border: solid 1px #669A92;
	box-shadow: 5px 5px var(--dm-blue);
}

/*DarkMode colors*/
.profileDarkmode {
	background-color: var(--dm-blue);
	border: solid 1px var(--dm-blue-border);
	box-shadow: 5px 5px var(--dm-blue-shadow);
}

.formDarkmode {
	background-color: var(--dark-mode-nav-color);
	border: solid 1px #17292D;
	box-shadow: 5px 5px #152529;
}

.darkmode {
	background-color: var(--dark-mode-bg);
	color: var(--dark-mode-txt-color);
}

.headerDarkMode{
	color: var(--dark-mode-header);
}

.h3Darkmode {
	color: var(--blue);
}

.navDarkMode {
	background-color: var(--dark-mode-nav-color) !important;
}

.borderDarkMode {
	border-bottom: 1px solid var(--dm-border) !important;
}

.linkDarkMode {
	color: var(--dm-link) !important;
}

	.linkDarkMode:hover {
		color: var(--dm-link-hover) !important; 
	}

	.linkDarkMode:active {
		color: var(--dm-link-active) !important;
	}

/*regular css*/
::selection {
	background-color: var(--green);
	color: var(--green-hover);
}

#a4{
	cursor: pointer;
}

h1, h3 {
	text-align: center;
}

button, .btn {
	border: none;
	background-color: #557F79;
	color: var(--dark-mode-txt-color) !important;
	padding: 1%;
	margin: 1%;
	border-radius: 5px;
}

	button:hover, .btn:hover{
		background-color: var(--blue-hover);
		color: var(--text-color);
	}

	button:active, .btn:active{
		background-color: var(--blue-active);
		color: var(--text-color);
	}

.center {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding: .5%;
}

.profile {
	max-width: 800px;
	display: flex;
	flex-direction: row;
	margin: 1%;
	padding: 1.5%;
	margin-left: 20%;
	border-radius: 5px;
	
}

.profile div{
	margin: 1%;
}

.profile img{
	border: solid 1px var(--blue-hover);
	border-radius: 5px;
}

.form {
	width: fit-content;
	
	padding: 2%;
	margin: 3%;
	margin-left: 38%;
	border-radius: 5px;
	
}

.form button{
	padding: 1%;
	width: 100%;
	margin: 2%;
}

.form input {
	border: none;
	border-radius: 3px;
	background-color: #839F87;
	color: var(--text-color);
	margin: 2%;
}

.userchoices {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

	.userchoices button {
		background-color: var(--chat-color2);
		color: var(--dark-mode-txt-color);
	}

.user {
	background-color: var(--chat-color2);
	color: var(--dark-mode-txt-color);
}

.bot {
	background-color: var(--chat-color1);
	color: var(--dark-mode-txt-color);
}