:root {
    --background-color: #F6E6FF;
    --text-color: #242424;
    --navbar: #CCBED3;
    --blue: #557899;
    --blue-hover: #6484A2;
    --blue-active: #2B3C4D;
    --green: #56A34F;
    --green-hover: #CCFFC7;
    --header-color: #5A828C;
    --link-color: #442F50;
    --link-hover: #554260;
    --link-active: #64536E;
    /*Dark mode vars*/
    --dark-mode-bg: #242424;
    --dark-mode-txt-color: #F6E6FF;
    --dark-mode-nav-color: #212121;
    --dark-mode-btn: #A2D2FF;
    --dark-mode-btn-hover: #BDE0FE;
    --dark-mode-btn-active: #D1E9FF;
    --dark-mode-accent: #65AB5F;
    --dark-mode-accent-hover: #A1F69A;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.darkmode{
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-txt-color);
}

.border-bottom {
    border-bottom: 1px solid var(--link-color)!important; 
}

::selection {
    background-color: var(--green);
    color: var(--green-hover);
}

.navbar{
    background-color: var(--navbar);
}

h1 {
    color: var(--header-color);
    text-align: center;
}

h3 {
    color: var(--link-color);
    text-align: center;
}

button{
    border: none;
    background-color: var(--blue);
    padding: 1%;
    margin:1%;
    border-radius: 5px;
}

    button:hover {
        background-color: var(--blue-hover);
    }

    button:active {
        background-color: var(--blue-active);
    }

a, .nav-link, a:visited, .nav-link:visited{
    color: var(--link-color);
}

a:hover, .nav-link:hover{
    color: var(--link-hover);
}

    a:active, .nav-link:active {
        color: var(--link-active);
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: .5%;
}