
<h1 id="header">Chat</h1>

<div class="center">
	<div class="chats">
		<div class="bot">
			<p id="botmsg">[replace later]</p>
		</div>

		<div class="user">
			<p id="usermsg">[replace later]</p>
		</div>
	</div>
</div>


<div class="userchoices">
	<a id="option1" class="btn">[replace later]</a>
	<a id="option2" class="btn">[replace later]</a>
</div>