
<h1 id="header">Chat</h1>

<div class="bot">
	<p id="botmsg"></p>
</div>

<div class="user">
	<!--can change buttons to something else-->
	<button id="option1"></button>
	<button id="option2"></button>
</div>