
<h1 id="header">Chat</h1>

<div class="center">
	<div class="chats">
		<div class="bot">
			<p id="botmsg">@ViewBag.bot</p>
		</div>

		<div class="user">
			<p id="usermsg">@ViewBag.user</p>
		</div>
	</div>
</div>


<div class="userchoices">
	<a asp-action="Chat" asp-controller="Home" id="option1" class="btn">Chat</a>			
</div>