
<h1 id="header">Chat</h1>

<div class="center">
	<div class="chats">
		<div class="bot">
			<p id="botmsg">[replace later]</p>
		</div>

		<div class="user">
			<p id="usermsg">[replace later]</p>
		</div>
	</div>
</div>


<div class="userchoices">
	<button id="option1">[replace later]</button>
	<button id="option2">[replace later]</button>
</div>