@model PetBio

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Home" asp-action="EditBio" method="post">

	<label asp-for="PetName"></label>

	<input asp-for="PetName" class="form-control" />

	<label asp-for="Biography"></label>

	<input asp-for="Biography" class="form-control" />

	<label asp-for="PetAge"></label>

	<input asp-for="PetAge" class="form-control" />

	<label asp-for="Likes"></label>

	<input asp-for="Likes" class="form-control" />

	<label asp-for="Dislikes"></label>

	<input asp-for="Dislikes" class="form-control" />

	<label asp-for="Image" hidden></label>

	<input asp-for="Image" class="form-control" hidden/>

	<button type="submit"> Save Changes </button>

</form>



