@model PetBio

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 id="header">Edit Profile</h1>

<form asp-controller="Home" asp-action="EditBio" method="post" class="form" id="bio">

	<label asp-for="PetName"></label><br />

	<input asp-for="PetName" /><br />

	<label asp-for="Biography"></label><br />

	<input asp-for="Biography" /><br />

	<label asp-for="PetAge"></label><br />

	<input asp-for="PetAge" /><br />

	<label asp-for="Likes"></label><br />

	<input asp-for="Likes" /><br />

	<label asp-for="Dislikes"></label><br />

	<input asp-for="Dislikes" /><br />

	<label asp-for="Image" hidden></label>

	<input asp-for="Image" hidden /><br />

	<button type="submit"> Save Changes </button>

</form>



