@{
    ViewData["Title"] = "Home Page";
}
<h1>Purrfect Pals</h1>
<p id="testing">
    Testing - katie
    Testing - johnヾ(￣▽￣)

    <button onclick="ToggleDarkMode()">Testing button color</button>
</p>