@{
    ViewData["Title"] = "Home Page";
}
<h1>Purrfect Pals</h1>

<div>
    <h3>We are a social media site for owners to find their pet the <em>purrfect</em> companion or playdate.</h3>
</div>

<button ToggleDarkMode()>darkmode</button>