@{
    ViewData["Title"] = "Home Page";
}
<h1>Purrfect Pals</h1>
<p>
    Testing - katie
    Testing - johnヾ(￣▽￣)

    <button>Testing button color</button>
</p>

    <img src="@ViewBag.cattoimage">  </img>