@{
    ViewData["Title"] = "Home Page";
}
<h1 id="header">Purrfect Pals</h1>

<div>
    <h3>We are a social media site for owners to find their pet the <em>purrfect</em> companion or playdate.</h3>
    <br />
    <a asp-action="Signup" asp-controller="Home" class="btn">Join Now!</a>
</div>