@{
    ViewData["Title"] = "Home Page";
}
<h1 id="header" class="headerLightMode">Purrfect Pals</h1>

<div>
    <h3 id="h3" class="h3LightMode">We are a social media site for owners to find their pet the <em>purrfect</em> companion or playdate.</h3>
    <br />
    <a asp-action="Signup" asp-controller="Home" class="btn center">Join Now!</a>
</div>