@{
    ViewData["Title"] = "Home Page";
}
<h1>Purrfect Pals</h1>
<p id="testing">
    Testing - katie
    Testing - johnヾ(￣▽￣)

    <button onclick="testing()">Testing button color</button>
</p>
<h1></h1>
<h2></h2>