

<div class="form">
	<h1 id="header" class="headerLightMode">Login</h1>
	<form>
		<label>Username</label>
		<input type="text" placeholder="Username" required /> <br />

		<label>Password</label>
		<input type="password" placeholder="Password" required /><br />
		<button type="submit">Log in</button>
		<a id="a7" class="linkLightMode" asp-action="Signup" asp-controller="Home">Don't have an account? Sign up!</a>
	</form>
</div>