@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	// TODO: Make form work with the database
}

<div class="form">
	<form>
		<label>Username</label>
		<input type="text" placeholder="Username" required /> <br />

		<label>Password</label>
		<input type="password" placeholder="Password" required /><br />
		<button type="submit">Log in</button>
		<a asp-action="Signup" asp-controller="Home">Don't have an account? Sign up'</a>
	</form>
</divc>