
<h1 class="header">Profile</h1>
<div>
    <img src="dont have one" width="100" height="100">
    <h3>profile name</h3>
</div>

<div>
    <h3>Profile Information</h3>
    <table>
        <tbody>
            <tr>
                <td>Owner Name</td>
                <td>:</td>
                <td>Placeholder name</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td>Placeholder email</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td>Placeholder address</td>
            </tr>
        </tbody>
    </table>
</div>

<h1>Pet</h1>
<div>
    <img src="dont have one" width="100" height="100">
    <h3>Pet name</h3>
</div>
<div>
    <h3>Pet Information</h3>
    <table>
        <tbody>
            <tr>
                <td>Pet's Name</td>
                <td>:</td>
                <td>Placeholder pet name</td>
            </tr>
            <tr>
                <td>pet age</td>
                <td>:</td>
                <td>Placeholder pet age</td>
            </tr>
            <tr>
                <td>Type of animal / breed</td>
                <td>:</td>
                <td>Placeholder animal type</td>
            </tr>
            <tr>
                <td>likes</td>
                <td>:</td>
                <td>Placeholder likes</td>
            </tr>
            <tr>
                <td>dislikes</td>
                <td>:</td>
                <td>Placeholder dislikes</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h3>Bio:</h3>
    <p>This is where the bio will go i guess</p>
</div>