
<h1 id="header" class="headerLightMode">[Pet Name]</h1>

<div class="profile">
	<div>
		<img src="dsa" width="500" />
	</div>
	<div>
		<p><b>Age: </b> [pet age]</p>
		<p><b>Breed: </b> [pet breed]</p>
		<p><b>Likes: </b> [pet likes]</p>
		<p><b>Dislikes: </b> [pet dislikes]</p>
		<p><b>Bio: </b> [pet bio]</p>
		<p><b>My Owner's name: </b> [owner name]</p>
		<p><b>My Owner's Email: </b> [owner email]</p>
		<a class="btn">Edit Profile</a>
	</div>
</div>