
<div class="form">
	<h1 id="header" class="headerLightMode">Sign Up</h1>
	<form>
		<label>Username</label>
		<input type="text" placeholder="Username" required /> <br />

		<label>Enter a Password</label>
		<input type="password" placeholder="Password" required /><br />

		<label>Reenter the Password</label>
		<input type="password" placeholder="Password" required /><br />

		<label>Pet Name</label>
		<input type="text" placeholder="Pet Name" required /><br />

		<label>Pet Breed</label><br />
		<input name="pet" type="radio" id="dog" value="Dog" />
		<label for="dog">Dog</label> <br />
		<input name="pet" type="radio" id="cat" value="Cat" />
		<label for="cat">Cat</label><br />

	<button type="submit">Log in</button>
	<a asp-action="Signup" asp-controller="Home">Don't have an account? Sign up'</a>
	</form>
</div>