
@model LoginInfo

	<form asp-controller="Home" asp-action="Signup" method="post">

		<label asp-for="Username"></label>

		<input asp-for="Username" class="form-control" />

		<label asp-for="Password"></label>

		<input asp-for="Password" class="form-control" />

		<label asp-for="PetName"></label>

		<input asp-for="PetName" class="form-control" />

		@*<label>Username</label>
		
		<input type="text" placeholder="Username" required /> <br />

		<label>Enter a Password</label>
		
		<input type="password" placeholder="Password" required /><br />

		<label>Enter your pets name</label>

		<input type="text" placeholder="Petname" required /><br />

		<label>Reenter the Password</label>

		<input type="password" placeholder="Password" required /><br />

		<label>Pet Name</label>
		
		<input type="text" placeholder="Pet Name" required /><br />

		<label>Pet Breed</label><br />
		
		<input type="radio" id="dog" value="Dog" />
		
		<label for="dog" <br />
	
		<input type="radio" value="Cat" /><br />*@

	<button type="submit">Sign Up</button>

	<a asp-action="Signup" asp-controller="Home">Don't have an account? Sign up'</a>

	</form>
