
@model LoginInfo
<h1 id="header" class="headerLightMode">Sign Up</h1>
	<form asp-controller="Home" asp-action="Signup" method="post">

		<label asp-for="Username"></label>

		<input asp-for="Username" class="form-control" />

		<label asp-for="Password"></label>

		<input asp-for="Password" class="form-control" />

		<label asp-for="PetName"></label>

		<input asp-for="PetName" class="form-control" />

	<button type="submit">Sign Up</button>

	<a class="linkLightMode a" asp-action="Signup" asp-controller="Home">Don't have an account? Sign up'</a>

	</form>